body{
	background-image:url("../images/back.jpg");
	background-repeat;
        font-family: 'Courgette', cursive;
	color:white;
}
a{
	color:#eef2a9;

}
a:visited{
	color:#edf46b;

}
#callendar{
	text-align:center;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	margin: 0 30% 0 30%;

}
#callendar p {
	font-size:20px;
	font-weight:italic;
}
#header  img{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#header{

}
#conteiner{
	margin:0 22% 0 22%;


}
.content {
	margin-top:1%;
	display:table;
	padding-left:50%;
}
.content h1{
	display:table-cell;
	vertical-align:middle;
	margin-right:5%;
}
.content a{
	display:inline-block;

}
.content img{
	display:inline-block;
	width:195px;
	height:195px;
	margin-left:8%;
	margin-right:12%;
}
#a{
	margin-bottom:-5%;
	

}
#b{
	margin-bottom:-7%;
	padding-left:15%;
}
#c{
	padding-left:45%;

}
.info{
	text-align:center;
	margin-left:15%;
	margin-right:15%;


}
.info h1{
	font-size:30px;
	text-decoration:underline;

}
.info p {
	font-size:18px;
	font-weight:bold;

	color:#e8e8e8;
}



@media screen and (min-width: 1400px) {
 .content img{
	display:inline-block;
	width:300px;
	height:300px;
	margin-left:8%;
	margin-right:12%;
}
 

}

@media screen and (max-width:720px), screen and (orientation: portrait) {
   #a{
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;

	

}
#conteiner{

	margin:0px 0px 0px 0px;


}
#b{
	margin-bottom:0px;
	padding-left:0px;
	margin-left:auto;
	margin-right:auto;

}
#c{
	padding-left:0px;
	margin-left:auto;
	margin-right:auto;


}	
.content h1{
	display:block;
	margin-right:0px;	
	margin-left:auto;
	margin-right:auto;
	text-align:center;

} 
.content img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:300px;
	height:300px;
}
.content {
padding-left:0px;
}
}

@media screen and (max-width:440px){
#header img{
	width:300px;

}

}

.html5gallery{
	width:480px;
	height:720px;
	data-skin:gallery;
	display:none;
	margin-left:auto;
	margin-right:auto;

}

