html{
	background-color:#002e4d;

}
body {
	margin: 0px 0px 0px 0px;

}
h1 {
	border-bottom-style: solid;
	background-color:#008bd0;
	display: block;
	text-align: center;
	color: white;
	margin-top:0px;
	padding: 5pt 0pt 2pt 0pt
}
a span {
  display: block;
  margin-top: 15pt;
}

img {
  width: 50pt;
  height: 50pt;
}

/* style.css | http://olympus.loc/style.css */

#links a {
  border-left-style: solid;
  border-radius: 0px 5px 5px 0px;
  text-decoration: none;
  margin-bottom: 5pt;
  padding-right: 5pt;
  background-color:#4b4b4b;
  color: white;
  display: inline-table;
  text-align: center;
  margin-left: 1%;
  height: 150pt;
  width: 200pt;
  padding-top: 30pt;
}

#links {
  padding-left: 10%;
}

