<span>Jaroslav Jandourek</span><br>
Toronto, Canada<br>
jandourekjaroslav.cz - jj@jandourekjaroslav.cz<br>

<br><br>
<span>Education</span><br><br>



2016 - 2018 CVUT Faculty of Electrical Engineering, Software Engineering<br>

2007 - 2015 Ústavní Grammar School<br><br>

<span>Work History</span><br>



<br>Jan. 2022 - present<br>

<span>Infrastucture Deployment and Management Consultant - Freelance</span><br>

Providing implementation and design guidance to customers in regards to automation of workflows and processes in a variety of environments including both on-premise solutions and highly available containerized deployments<br>
Designing scalable automated infrastructure pipelines for applications and infrastructure<br>
Delivering automated deployment and environment integration for Kubernetes, VMWare Technologies, Gitlab CI/CD, Ansible + Ansible Tower, Terraform, Hashicorp Vault, Prometheus, Grafana and others as well as on-spec automation tooling based on customer needs<br>
Providing training on topics ranging from basic automation for back office staff to management and deployment of interlinked tool chains for Developers and Administrators<br>
Advising customers in a wide variety of technical issues and challenges<br>
<br>Feb. 2021 - Dec. 2021<br>

<span>Senior Linux Administrator - České radiokomunikace a.s</span><br>

Specialized in automation of deployment and management in IT Infrastructure and application environments<br>
Conceived and instituted a transition towards a IaaC/DevOps/GitOps model for infrastructure management and application deployment<br>
Implemented automation tool-chains based on Gitlab CI/CD, Ansible + Ansible Tower, Teraform and Vmware technologies<br>
Led the transition into containerized high availability application deployment<br>
<br>Jul. 2019 - Dec. 2020<br>

<span>Senior Linux Infrastructure Administrator - Equa Bank a.s</span><br>

Spearheaded automation and orchestration of configuration, patch,lifecycle, vulnerability and resource management alongside streamlining provisioning of Linux servers through RedHat Satellite in combination with Puppet, Ansible, vSphere Orchestrator and custom Bash, Python and Powershell scripts.<br>
Conceived and instituted a company-wide communication overhaul and implementation of a new system for encrypted chat, calls and file-sharing based on the Matrix protocol.<br>
Conceived, structured, implemented and tested several Disaster Recovery scenarios for critical systems.<br>
Worked within a wide remit across various internal teams on Development, Security and Application management.<br>
<br>Feb. 2018 - Jun. 2019<br>

<span>Automation Specialist - L2 Tech Support Technician - Accenture Services s.r.o.</span><br>

In charge of deployment automation for both workstations and user specific applications, predominantly through Powershell and WDS.<br>
Designed, implemented and deployed a Self-Service Kiosk style application for processing in-person user requests integrated into ServiceNow, and an automated Asset management helper front end for Technicians connected to Flexera FlexNet, both written in Java.<br>
Lead a team in an internal company coding competition, winning first place, among 800+ other competing teams, for our deployment and related automation project.<br>
<br>Mar. 2014 - Dec. 2021<br>

<span>Hosting Services - Freelance</span><br>

Providing a wide range of hosting services for individuals and smaller companies/organizations. Including but not limited to, web hosting, communication and game server hosting, file and productivity software hosting and VPN services.<br>
Focusing on clean efficient configuration to achieve low overheads and leverage older hardware fully for the customers' benefit. KVM virtualized Linux environment.<br>
<br>Mar. 2014 - Feb. 2018<br>

<span>Web Development - Freelance</span><br>

Focused on smaller projects for a variety of clients requiring simple clean websites swiftly and efficiently.<br>
Worked with clients to formulate the design and functionality requirements for each site and provided ongoing support for changes and alterations at a later date.<br>
Implemented each project either solo or in collaboration with a graphic designer, using HTML5, CSS3, Javascript, Jquery, Ajax, PhP.<br><br>
<span>Technical Knowledge and Skills</span><br><br>

<span>Automation and Systems Management</span><br>

Ansible, Gitlab CI/CD, ArgoCD, Terraform, Redhat Satellite, Puppet, Active Directory, SCCM, WDS<br>

<span>Systems, Virtualisation and Containerization</span><br>

GNU/Linux, Microsoft Windows Server, KVM (libvirt), Vmware, Docker, Podman, Rancher, Kubernetes<br>

<span>Programming and Scripting</span><br>

Bash, Python, Java, HTML, CSS, PHP, PowerShell, Pascal, Javascript, Go<br>

<span>Storage and Backup</span><br>

GlusterFS, BeeGFS, Commvault, IBM SpectrumScale<br>

<span>Networking</span><br>

Cisco ASA, JunOs, PfSense, F5 BigIP, OpenVPN<br>

<span>Other</span><br>

PAM (privacyIDEA and Teleport), Cisco ESA, Matrix, Git, PBX/VoiP, Postfix, MS Exchange, PostgresDB,<br>
Hashicorp Vault, Prometheus, Grafana, Nagios/Check MK<br>

<span>Languages</span><br>



Czech (native), English (highly proficient), Spanish (passive)<br>
