html {
	background-color:#151616;
	color:#cdc2a8;
    	font-family: 'Space Mono', monospace;
	padding:3% 5% 1% 5%;	


}

h1{
	text-align:center;



}
nav{
	font-size:1.25em;
	width:auto


}
span{
	color:#e6c82c;


} 
#menu{
	width:20em;
	height:1.5em;
	padding-left:1em;
	border-left:.5em solid #e6c82c;
	padding-bottom:10px;
	background-color:#2c3035;
}

a{
	margin-left:0em;
	margin-right:1em;
	margin-bottom:20px;
	color:#cdc2a8;
	text-decoration:none;

}
p a{
	margin-right:0px;

}
li{

	color:#926a44;
}
nav{

	margin-bottom:20px;






}

#content2{
	width:80%;
	margin:1em 1em 1em .1em ; 
	display:inline-block;
	border:2px solid white;
	padding: 10px 10px 10px 10px;
}
#content{
	width:60%;
	margin:1em 1em 1em .1em ; 
	display:inline-block;
	border:2px solid white;
	padding: 10px 10px 10px 10px;
}

h3 {
  font-size:15.5px;
  width:12em;
  overflow: hidden;
  border-right: .15em solid #e6c82c ; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .01em; 
  animation:
    typing 1.5s steps(18, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width:12em; }
}

@keyframes typing2 {
  from { width: 0 }
  to { width:180px; }
}

@keyframes typing3 {
  from { width: 0 }
  to { width:198px; }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e6c82c; }
}


header{
	padding 20% 0 20% 0;
	margin-bottom:5em;

}

#sidebar2{
	vertical-align:top;
	width:10%;
	display:inline-block;
	height: auto;
	border-left:.5em solid #e6c82c;
	padding-left:0;
	margin-top:1em;
	position:fixed;
}
#sidebar2 ul {
	padding-left:10px;


}


#sidebar{
	vertical-align:top;
	width:32%;
	display:inline-block;
	height: auto;
	border-left:.5em solid #e6c82c;
	padding-left:1em;
	margin-top:1em;
}

footer{
	text-align:center;

}

@media only screen and (max-width: 1080px) {
	#content2{width:100%;}
	#content{width:100%;}
	#sidebar{width:100%;}	
	p{margin-bottom:20px;}
	#menu{font-size:20px;width:400px}
	#welcometext{display:none;}
	h3{font-size:15px;
	   width:180px;
   	   animation:
    	   	typing2 1.5s steps(18, end),
    		blink-caret .75s step-end infinite;
        }
}

@media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2) { 
    
    h3{font-size:15px;
           width:198px;
           animation:
                typing3 1.5s steps(18, end),
                blink-caret .75s step-end infinite;
        }
    
    
    }
ul{
list-style:none;
}

li:before{
	content:".";
	color:white;
}

#content a {
	color:#e6c82c;
}
#content a:hover {
	color:white;

}
#Linux {display:none;

	color:#926a44;
}
#out{



}
#greenSpan{
	color:#e6c82c;

}
#highlightSpan{
	color:#926a44;
}

#in {
	visibility:hidden;

}
#out span{
 	white-space:pre-wrap;

}
#in input{
 	background-color:#151616;
        color:#cdc2a8;
        font-family: 'Space Mono', monospace;
	margin: Opx Opx Opx Opx;
	padding: Opx Opx Opx Opx;
	border-style:none;
	width:70%;
	font-size:1em;

}


#News {display:none;
	color:#926a44;

}
a{cursor:pointer;}
