html {
	background-color:#151616;
	color:#e3e8e8;
    	font-family: 'Space Mono', monospace;
	padding:3% 5% 1% 5%;	


}

h1{
	text-align:center;



}
nav{
	font-size:1.25em;
	width:auto


}
span{
	color:#52c429;


} 
#menu{
	width:250px;
	height:1.5em;
	padding-left:1em;
	border-left:.5em solid #52c429;
	padding-bottom:10px;
	background-color:#2c3035;
}

a{
	margin-left:0em;
	margin-right:1em;
	margin-bottom:20px;
	color:#e3e8e8;
	text-decoration:none;

}
nav{

	margin-bottom:20px;





}

#content2{
	width:80%;
	margin:1em 1em 1em .1em ; 
	display:inline-block;
	border:2px solid white;
	padding: 10px 10px 10px 10px;
}
#content{
	width:60%;
	margin:1em 1em 1em .1em ; 
	display:inline-block;
	border:2px solid white;
	padding: 10px 10px 10px 10px;
}

 h1 {
  width:12em;
  overflow: hidden;
  border-right: .15em solid #52c429 ; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .01em; 
  animation:
    typing 1.5s steps(17, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width:12em; }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #52c429; }
}


header{
	padding 20% 0 20% 0;
	margin-bottom:5em;

}

#sidebar2{
	vertical-align:top;
	width:10%;
	display:inline-block;
	height: auto;
	border-left:.5em solid #52c429;
	padding-left:0;
	margin-top:1em;
	position:fixed;
}
#sidebar2 ul {
	padding-left:10px;


}


#sidebar{
	vertical-align:top;
	width:32%;
	display:inline-block;
	height: auto;
	border-left:.5em solid #52c429;
	padding-left:1em;
	margin-top:1em;
}

footer{
	text-align:center;

}

@media only screen and (max-width: 1080px) {
	#content2{width:100%;}
	#content{width:100%;}
	#sidebar{width:100%;}	
	p{margin-bottom:20px;}
	#menu{font-size:24px;width:400px}
	#welcometext{display:none;}
}
ul{
list-style:none;
}

li:before{
	content:".";
	color:white;
}

#content a {
	color:#519C9C;
}
#content a:hover {
	color:white;

}
#Linux {display:none;

	color:#519C9C;
}
#i3 {
display:none;
	color:#519C9C;

}

#Programming {
display:none;
	color:#519C9C;

}
#out{



}
#greenSpan{
	color:#52c429;

}
#in {
	visibility:hidden;

}
#in input{
 	background-color:#151616;
        color:#e3e8e8;
        font-family: 'Space Mono', monospace;
	margin: Opx Opx Opx Opx;
	padding: Opx Opx Opx Opx;
	border-style:none;
	caret-color:white;
	width:70%;
	font-size:1em;

}

#caret{}

#News {display:none;
	color:#519C9C;

}
a{cursor:pointer;}
